version: 2
updates:
  - package-ecosystem: bun
    directory: /
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    versioning-strategy: auto
    groups:
      astro:
        patterns:
          - 'astro'
          - '@astrojs/*'
      tailwindcss:
        patterns:
          - 'tailwindcss'
          - '@tailwindcss/*'

  - package-ecosystem: 'github-actions'
    directory: /
    schedule:
      interval: 'daily'
