<script
  defer
  data-domain="docs.solectrus.de"
  src="https://p.ledermann.dev/js/script.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const codeBlocks = document.querySelectorAll('code.language-mermaid');
    if (!codeBlocks.length) return;

    const s = document.createElement('script');
    s.defer = true;
    s.src = '{{ "/assets/js/mermaid.bundle.js" | relative_url }}';
    s.onload = () => {
      codeBlocks.forEach((cb) => {
        const pre = document.createElement('pre');
        pre.className = 'mermaid';
        pre.textContent = cb.textContent;
        cb.parentNode.replaceWith(pre);
      });
      mermaid.initialize({ startOnLoad: true });
    };
    document.head.appendChild(s);
  });
</script>
