/* Accent color override - blue instead of green */
:root {
  --sl-color-accent-low: #c7d2fe;
  --sl-color-accent: #312e81;
  --sl-color-accent-high: #1e1b4b;
}

main img {
  border-radius: 8px;
}

html[data-theme='dark'] {
  --sl-color-accent-low: #312e81;
  --sl-color-accent: #c7d2fe;
  --sl-color-accent-high: #c7d2fe;

  main img {
    filter: brightness(0.8);
  }
}
